<div class="gettouch-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="gt-text">
                        <i class="fa fa-map-marker"></i>
                        <p>Complexo Esportivo João Paulo II, Curió-Utinga, 3</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="gt-text">
                        <i class="fa fa-mobile"></i>
                        <ul>
                            <li>91 98464-4819</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="gt-text email">
                        <i class="fa fa-instagram"></i>
                        <p>ab.soccer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="fs-about">
                        <div class="fa-logo">
                            <a href="#"><img src="assets/img/logo.png" alt="" width="200"></a>
                        </div>
                        <p>Futebol. Resenha. Família</p>
                        <div class="fa-social">
                            <a href="https://www.instagram.com/ab.soccer/" target="_blank"><i
                                    class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa  fa-envelope-o"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="fs-widget">
                        <h4>Links úteis</h4>
                        <ul>
                            <li><a href="./about-us.html">Sobre nós</a></li>
                            <li><a href="./services.html">Serviços</a></li>
                            <li><a href="./team.html">Nosso super time</a></li>
                            <li><a href="./gallery.html">Registros</a></li>
                            <li><a href="./contact.html">Contato</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="copyright-text">
                        <p>NorteTec &copy;
                            <script>document.write(new Date().getFullYear());</script> Todos os direitos reservados. By
                            <a href="http://nortetec.com/" target="_blank">NorteTec</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
