<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
  <div class="canvas-close">
    <i class="fa fa-times"></i>
  </div>

  <nav class="canvas-menu mobile-menu">
    <ul>
      <li><a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Início</a></li>
      <li><a [routerLink]="['/sobre']" routerLinkActive="active">Sobre nós</a></li>
      <li><a [routerLink]="['/servicos']" routerLinkActive="active">Serviços</a></li>
      <li><a [routerLink]="['/time']" routerLinkActive="active">Nosso super time</a></li>
      <li><a [routerLink]="['/registros']" routerLinkActive="active">Registros</a></li>
      <li><a [routerLink]="['/contato']" routerLinkActive="active">Contato</a></li>
    </ul>
  </nav>
  <div id="mobile-menu-wrap"></div>
  <div class="canvas-social">
    <a href="https://wa.me/5591984644819?text=Olá, gostaria de conversar sobre os treinos." target="_blank">

      <i class="fab fa-whatsapp"></i>
    </a>
    <a href="https://www.instagram.com/ab.soccer/" target="_blank">
      <i class="fab fa-instagram"></i>
    </a>
  </div>
</div>

<header class="header-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3">
        <div class="logo">
          <a [routerLink]="['/']">
            <img src="assets/img/logo.png" alt="AB Soccer Logo" width="180">
          </a>
        </div>
      </div>
      <div class="col-lg-6">
        <nav class="nav-menu">
          <ul>
            <li><a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Início</a>
            </li>
            <li><a [routerLink]="['/sobre']" routerLinkActive="active">Sobre nós</a></li>
            <li><a [routerLink]="['/servicos']" routerLinkActive="active">Serviços</a></li>
            <li><a [routerLink]="['/time']" routerLinkActive="active">Nosso super time</a></li>
            <li><a [routerLink]="['/registros']" routerLinkActive="active">Registros</a></li>
            <li><a [routerLink]="['/contato']" routerLinkActive="active">Contato</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-lg-3">
        <div class="top-option">
          <div class="to-social">
            <a href="https://wa.me/5591984644819?text=Olá, gostaria de conversar sobre os treinos." target="_blank">
              <i class="fab fa-whatsapp"></i>
            </a>
            <a href="https://www.instagram.com/ab.soccer/" target="_blank">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="canvas-open">
      <i class="fa fa-bars"></i>
    </div>
  </div>
</header>
