<section class="class-timetable-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="section-title">
          <span>Horários</span>
          <h2>Encontre seu horário</h2>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="table-controls">
          <ul>
            <li [class.active]="currentFilter === 'all'" (click)="setFilter('all')">Todos os eventos</li>
            <li [class.active]="currentFilter === 'treinamento'" (click)="setFilter('treinamento')">Treinamentos</li>
            <li [class.active]="currentFilter === 'campeonato'" (click)="setFilter('campeonato')">Jogos do campeonato</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="class-timetable">
          <table>
            <thead>
              <tr>
                <th></th>
                <th *ngFor="let day of daysOfWeek">{{day}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let schedule of scheduleData">
                <td class="class-time">{{schedule.time}}</td>
                <td *ngFor="let day of daysOfWeek; let i = index"
                    [class.dark-bg]="isDarkBg(i)"
                    [class.hover-bg]="schedule.days[day] && shouldDisplayItem(schedule.days[day]?.type)"
                    [class.ts-meta]="schedule.days[day] && shouldDisplayItem(schedule.days[day]?.type)"
                    [class.blank-td]="!schedule.days[day] || !shouldDisplayItem(schedule.days[day]?.type)">
                  <div *ngIf="schedule.days[day] && shouldDisplayItem(schedule.days[day]?.type)">
                    <h5>{{schedule.days[day]?.title}}</h5>
                    <span>{{schedule.days[day]?.location}}</span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
