<div class="gallery-section">
  <div class="gallery">
    <div class="grid-sizer"></div>
    @for (image of images; track image) {
    @if (pageRegistros) {
    <div class="gs-item" [class.grid-wide]="image.wide" [style.background-image]="'url(' + image.src + ')'">
      <div class="image-overlay" (click)="openModal(image.src)">
        <i class="fa fa-image"></i>
      </div>
    </div>
    }
    }
  </div>
</div>

@if (modalVisible) {
<div class="modal-overlay" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <button class="close-modal" (click)="closeModal()">&times;</button>
    <img [src]="selectedImage" alt="Imagem ampliada">
  </div>
</div>
}
