<section class="aboutus-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 p-0">
        <div class="about-video-container">
          <video class="about-video" id="video" width="100%" height="100%">
            <source src="assets/video/about-us.mp4" type="video/mp4">
            Seu navegador não suporta o elemento de vídeo.
          </video>
          <div class="play-btn" id="playButton">
            <i class="fa fa-caret-right"></i>
          </div>
          <div class="pause-btn" id="pauseButton" style="display: none;">
            <i class="fa fa-pause"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-6 p-0">
        <div class="about-text">
          <div class="section-title">
            <span>Sobre nós</span>
            <h2>o que fazemos</h2>
          </div>
          <div class="at-desc">
            <p>Na nossa assessoria, transformamos potenciais em resultados. Oferecemos treinos físicos e técnicos
              especializados, avaliações de desempenho e competições que preparam atletas para o alto nível. Com
              metodologia personalizada e acompanhamento profissional, desenvolvemos habilidades físicas, táticas e
              mentais para você evoluir no futebol – da base ao rendimento máximo.
            </p>
          </div>
          <div class="about-bar">
            <div class="ab-item" *ngFor="let item of progressValues">
              <p>{{item.text}}</p>
              <div class="progress-container">
                <div [id]="item.id" class="barfiller">
                  <span class="fill" data-percentage="100"></span>
                </div>
                <span class="percentage-text">{{item.value}}%</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
