<section class="hero-section">
    <div class="hs-slider owl-carousel">
        <div class="hs-item set-bg" data-setbg="assets/img/banners/banner.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 offset-lg-6">
                        <div class="hi-text">
                            <span>Assessoria esportiva</span>
                            <h1>Entre para a família <strong>AB Soccer</strong> e aumente seu
                                <strong>desempenho</strong>
                            </h1>
                            <a href="https://wa.me/5591984644819?text=Olá, gostaria de conversar sobre os treinos."
                                target="_blank" class="primary-btn">Mais informações</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hs-item set-bg" data-setbg="assets/img/banners/banner-2.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 offset-lg-6">
                        <div class="hi-text">
                            <span>Especialidades</span>
                            <h1>Treinamento <strong>físico</strong> e <strong>técnico</strong> voltado para o
                                futebol!</h1>
                            <a href="https://wa.me/5591984644819?text=Olá, gostaria de conversar sobre os treinos."
                                target="_blank" class="primary-btn">Mais informações</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
