/* You can add global styles to this file, and also import other style files */
@use "./shared/styles/custom-bootstrap" as *;
@use "../src/shared/styles/colors.scss" as colors;

:root {
  --font-body: "Muli", sans-serif;
  --font-headings: "Oswald", sans-serif;
  --primary: #192A58;
  --secondary: #d7d7d9;
  --third: #2e0652;
  --light: #f8f8f9;
  --dark: #192A58;
  --blue-light: #7294BA;
}

body {
  font-family: var(--font-body);
  color: $body-color;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: var(--font-headings);
  font-weight: $headings-font-weight;
  color: $headings-color;
}

.toast-container {
  position: fixed;
  z-index: 999999;
  width: auto;
  max-width: 350px;
  top: 20px;
  right: 100px;
}

.toast-container .ngx-toastr {
  position: relative;
  margin: 0 0 15px 0;
  padding: 15px 40px 15px 15px;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  color: colors.$color-white;
  border: 1px solid colors.$color-white;
}

.toast-close-button {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  color: colors.$color-white;
  background: none;
  border: none;
  font-size: 16px;
  padding: 0;
  cursor: pointer;
}

.toast-close-button:hover {
  color: colors.$color-gray;
}

.toast-success::before,
.toast-error::before,
.toast-info::before,
.toast-warning::before {
  display: none;
}

.toast-success {
  background-color: colors.$color-dark-blue !important;
}

.toast-error {
  background-color: colors.$color-red !important;
}

.toast-info {
  background-color: colors.$color-light-blue !important;
}

.toast-warning {
  background-color: colors.$color-yellow !important;
}

.toast-progress {
  margin-top: 10px;
  height: 4px;
  background: colors.$color-white;
}
